@import "../../../Variables/Variables.scss";

.button {
  background: linear-gradient(#ffbd39, #fa9531);
  //   background: $LA-gradient;
  padding: 1em 2em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: $titleFont;
  font-size: 1rem;
  color: white;
  text-align: center;
}
