// Colors
$LA-gradient: linear-gradient(#ffbd39, #fa9531);
$LA-lightOrange: #ffbd39;
$LA-darkOrange: #fa9531;
$LA-black: #050505;
$LA-gray: #8c9097;
$LA-logos: #b5b5b5;
$PricingBackground: #f5f5f7;

// Fonts
$titleFont: "Poppins"; // font-family: 'Poppins', sans-serif;
$bodyFont: "Open Sans"; // font-family: 'Open Sans', sans-serif;

// Boldness
$regularFont: 400;
$semiboldFont: 600;
$boldFont: 700;

// Other
$radius: 16px;
$padding: 5em;

// Breakpoints
$breakpoints: (
  "xs": 320px,
  "s": 480px,
  "m": 720px,
  "l": 960px,
  "xl": 1200px,
);

@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin l {
  @media (max-width: map-get($breakpoints, "l")) {
    @content;
  }
}

@mixin m {
  @media (max-width: map-get($breakpoints, "m")) {
    @content;
  }
}

@mixin s {
  @media (max-width: map-get($breakpoints, "s")) {
    @content;
  }
}

@mixin xs {
  @media (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin breakpoint($bp: 1200) {
  @media (max-width: $bp) {
    @content;
  }
}
