// Colors
$LA-gradient: linear-gradient(#ffbd39, #fa9531);
$LA-lightOrange: #ffbd39;
$LA-darkOrange: #fa9531;
$LA-black: #050505;
$LA-gray: #8c9097;
$LA-logos: #b5b5b5;
$PricingBackground: #f5f5f7;

// Fonts
$titleFont: "Poppins";
$bodyFont: "Open Sans";
