@import "../Variables/Variables.scss";

.intro {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .right {
    img {
      height: 814px;
      width: 771px;
      border-radius: 70px 0 0 70px;
    }
  }
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    h1 {
      font-family: $titleFont;
      font-weight: bold;
      font-size: 55px;

      span {
        color: $LA-darkOrange;
      }
    }
    p {
      font-family: $titleFont;
      font-weight: normal;
      font-size: 26px;
    }
  }
}
