@import "../Variables/Variables.scss";

.container {
  max-width: 1380px;
  margin: 0 auto;
  background-image: url(../assets/pricing/bg.svg);
  background-color: rgba(245, 245, 247, 0.7);
  border-radius: 16px;
  display: flex;
  align-items: center;

  .left {
    flex: 50%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;

    * {
      margin: 0;
    }

    span {
      font-family: $bodyFont;
      font-size: 14px;
      font-weight: bold;
      color: $LA-darkOrange;
    }

    h1 {
      font-family: $titleFont;
      font-size: 40px;
      font-weight: bold;
      max-width: 70%;
    }

    p {
      font-family: $bodyFont;
      font-size: 16px;
      font-weight: normal;
      max-width: 70%;
    }
  }

  .right {
    flex: 50%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: -7%;
    gap: 2em;
  }
}
