@import "../../../Variables/Variables.scss";

.card {
  background-color: white;
  border-radius: 16px;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  gap: 1em;
  position: relative;

  * {
    margin: 0;
  }

  img {
    position: absolute;
    bottom: 80%;
    left: 15%;
  }

  h2 {
    font-family: $titleFont;
    font-weight: $boldFont;
    font-size: 24px;
    color: $LA-black;
    margin-top: 4em;
  }

  p {
    font-family: $bodyFont;
    font-size: 16px;
    font-weight: $regularFont;
    color: #65676b;
    max-width: 85%;
  }

  span {
    font-family: $titleFont;
    font-size: 20px;
    font-weight: $boldFont;
    line-height: 24px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  button {
    border: 1px solid #050505;
    border-radius: 6px;
    background-color: white;
    font-family: $titleFont;
    font-weight: $semiboldFont;
    font-size: 14px;
    padding: 0.75em 3.5em;
    cursor: pointer;
    align-self: left;
    width: 85%;
  }
}
