.pageLayout {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "intro intro"
    "pricing pricing"
    "benefits benefits";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;

  .IntroSection {
    grid-area: intro;
    height: 1140px;
    display: flex;
  }
  .PricingSection {
    grid-area: pricing;
    display: flex;
  }
  .BenefitsSection {
    grid-area: benefits;
    display: flex;
  }
}
