@import "../../../Variables/Variables.scss";

.pageLayout {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "intro intro"
    "pricing pricing"
    "benefits benefits";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;

  @include xl {
    grid-template-areas:
      "intro"
      "pricing"
      "benefits";
    grid-template-columns: auto;
  }

  .IntroSection {
    grid-area: intro;
    height: 1140px;
    display: flex;

    @include xl {
      width: 100vw;
      height: auto;
      align-items: center;
      justify-content: center;
    }
  }
  .PricingSection {
    grid-area: pricing;
    display: flex;

    @include xl {
      width: 100vw;
      align-items: center;
      justify-items: center;
    }
  }
  .BenefitsSection {
    grid-area: benefits;
    display: flex;

    @include xl {
      width: 100vw;
    }
  }
}
