@import "../../../Variables/Variables.scss";

.BenefitsCard {
  background-color: white;
  border-radius: $radius;
  display: flex;
  flex-direction: row;
  max-height: 160px;

  * {
    margin: 0;
  }
  .BenefitsCardLeft {
    flex: 5;
    background-image: url(../../../assets/benefits/cardBg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 5%;

    @include s {
      left: 7%;
    }

    span {
      color: $LA-darkOrange;
      background: $LA-gradient;
      background-clip: none;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $bodyFont;
      font-weight: $boldFont;
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      
      @include s {
        font-size: 40px;
      }
    }
  }
  .BenefitsCardRight {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;

    @include s {
      padding: 1em;
    }

    * {
      margin: 0;
    }

    h3 {
      font-family: $titleFont;
      font-weight: $boldFont;
      font-size: 16px;
      color: $LA-black;

      @include s {
        text-align: center;
        font-size: 14px;
      }
    }

    p {
      font-family: $bodyFont;
      font-weight: $regularFont;
      font-size: 14px;
      line-height: 24px;
      color: $LA-black;
      max-width: 100%;

      @include s {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
