@import "../../../Variables/Variables.scss";

.intro {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include xl {
    flex-direction: column;
  }

  .introRight {
    position: relative;
    overflow-x: visible;
    .chat {
      overflow-x: visible;
      z-index: 2;
      max-width: 60%;
      position: absolute;
      top: 26%;
      left: -19%;

      @include xl {
        left: 10%;
      }

      @include s {
        top: 80%;
        left: 30%;
      }
    }
    img {
      z-index: -1;
      max-height: 814px;
      max-width: 771px;
      border-radius: 70px 0 0 70px;

      @include l {
        transform: scale(0.75);
      }

      @include m {
        transform: scale(0.5);
      }
    }
  }
  .introLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    @include xl {
      align-items: center;
      justify-self: flex-end;
    }

    h1 {
      margin: 0;
      font-family: $titleFont;
      font-weight: $boldFont;
      font-size: 55px;
      color: $LA-black;
      max-width: 80%;

      @include xl {
        font-size: 30px;
        max-width: 100%;
        text-align: center;
      }

      @include s {
        font-size: 20px;
      }

      span {
        color: $LA-darkOrange;
      }
    }
    p {
      font-family: $titleFont;
      font-weight: $regularFont;
      font-size: 26px;
      color: $LA-black;
      max-width: 60%;

      @include xl {
        font-size: 20px;
        max-width: 100vw;
        text-align: center;
      }

      @include s {
        font-size: 15px;
      }
    }
    p.checkmarks {
      margin-bottom: 30px;
      font-family: $bodyFont;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: #8c9097;

      @include s {
        font-size: 12px;
      }
    }

    p.play {
      margin: 0;
      display: inline;
      font-family: $titleFont;
      font-size: 14px;
      font-weight: $semiboldFont;
      color: $LA-black;
      position: relative;
      top: 2px;

      @include s {
        font-size: 10px;
      }
    }
    .circle {
      margin-left: 10px;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      font-size: 50px;
      background-color: rgba(255, 189, 57, 0.2);
      border-radius: 50%;
      display: inline-block;
      position: relative;
      top: 25px;

      span {
        width: 40px;
        height: 40px;
        font-size: 40px;
        background-color: rgba(252, 167, 53, 0.4);
        border-radius: 50%;
        display: inline-block;
        transform: translate(5px, -5px);
        span {
          width: 30px;
          height: 30px;
          font-size: 30px;
          background: $LA-gradient;
          border-radius: 50%;
          display: inline-block;
          img {
            font-size: 14px;
            position: relative;
            top: -11px;
            left: 11px;
          }
        }
      }
    }

    .logo {
      span {
        margin-top: 40px;
        font-family: $titleFont;
        color: #8c9097;
        font-weight: $boldFont;
        font-size: 14px;
        line-height: 32px;
        display: block;

        @include s {
          font-size: 10px;
        }
      }
      img {
        position: relative;
        left: -20px;
        margin-left: 0.2em;
        transform: scale(0.8);

        @include s {
          transform: scale(0.6);
        }
      }
    }
  }
}
